#advisors {
  text-align: center;
  box-shadow: 0 0 100px #f9faff, 0 0 100px #f9faff, 0 0 100px #f9faff, 0 0 100px #f9faff, 0 0 100px #f9faff, 0 0 100px #f9faff, 0 0 100px #f9faff, 0 0 100px #f9faff, 0 0 100px #f9faff, 0 0 100px #f9faff, 0 0 100px #f9faff, 0 0 100px #f9faff, 0 0 100px #f9faff, 0 0 100px #f9faff, 0 0 100px #f9faff;
  background-image:url(img/circle.png);
  background-position: -400px 0;
}

#advisors h1 {
  padding: 2em 0;
}

#advisors .advisor {
  display: inline-block;
  vertical-align: top;
  margin: 1em;
  width: 350px;
}

#advisors .advisor .image {
  height: 110px;
  width: 110px;
  display: inline-block;
  border-radius: 55px;
  background-color: #9F9F9F;
  background-size: 100% 100%;
}

#advisors .advisor .name {
  text-transform: uppercase;
  color: #373737;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  padding: 20px 0 10px;
}

#advisors .advisor .job {
  color: #818181;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  padding:0 .5em 1em;
}

#advisors .advisor a {
  background-color: #9F9F9F;
  display: inline-block;
  height: 1.5em;
  width: 1.5em;
  margin: .5em .5em 2em;
}

@media screen and (max-width: 1000px) {
  #advisors .section-title {
    padding: .5em 0;
  }
}
