.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.btn-border {
  border: 2px solid;
  border-radius: 1.5em;
  text-decoration: none;
}

.btn-color {
  border-radius: 1.5em;
  background: linear-gradient(130deg, #9216c1, #E9649B);
  font-weight: 500;
  text-decoration: none;
  padding: 0.75em 1.5em;
  color: white;
}

.subscribe-mailbox {
  position: relative;
  display: inline-block;
}

.subscribe-mailbox input[type="text"]::placeholder {
  color: #c5c5c5;
}

.subscribe-mailbox input[type="text"]{
  padding: 0 160px 0 20px;
  box-shadow: 0 0 12px 0 rgba(0,0,0,0.1);
  width: 460px;
  height: 60px;
  background: white;
  border: none;
  border-radius: 30px;
  font-family: avenir;
  font-weight: 500;
  font-size: 16px;
}
.subscribe-mailbox input[type="text"][disabled="disabled"]{
  background: #ddd;
  color: #666;
}

.subscribe-mailbox input[type="submit"]{
  position: absolute;
  top: 6px;
  right: 6px;
  background: linear-gradient(130deg, #9216c1, #E9649B);
  border: none;
  border-radius: 24px;
  height: 48px;
  width: 150px;
  color: white;
  font-family: avenir;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
}

.subscribe-mailbox .form-error {
  max-width: 460px;
  font-size: 16px;
  font-weight: 500;
  color: #f73232;
  padding: 0.3em;
  text-align: center;
}

.mainsection {
  padding: 0 10em 5em;
}

.section-title {
  font-size: 34px;
  font-family: comfortaa;
  font-weight: bold;
  color: #373737;
}

.section-text {
  font-size: 18px;
  color: #818181;
  line-height: 26px;
}
ul.section-text {
  list-style-type: none;
}
ul.section-text li {
  text-align: left;
  font-size: 18px;
  color: #818181;
  line-height: 26px;
  margin-top: 26px;
}
ul.section-text.compact li {
  margin-top: 5px;
}

@media screen and (max-width: 1000px) {
  .mainsection {
    padding: 0 2em 1em;
  }

  .subscribe-mailbox input[type="text"] {
    height: 40px;
    font-size: 12px;
    width: 300px;
    padding: 0 86px 0 15px;
  }
  .subscribe-mailbox input[type="submit"] {
    top: 3px;
    right: 3px;
    height: 34px;
    font-size: 11px;
    width: 80px;
  }

  .hide-on-mobile {
    display: none !important;
  }
  .show-on-mobile {
    display: block !important;
  }
}
