#features {
  padding-left: 0;
  padding-right: 0;
  box-shadow: 0 0 100px #f9faff, 0 0 100px #f9faff, 0 0 100px #f9faff, 0 0 100px #f9faff, 0 0 100px #f9faff, 0 0 100px #f9faff, 0 0 100px #f9faff, 0 0 100px #f9faff, 0 0 100px #f9faff, 0 0 100px #f9faff, 0 0 100px #f9faff, 0 0 100px #f9faff, 0 0 100px #f9faff, 0 0 100px #f9faff, 0 0 100px #f9faff;
  background-image:url(img/circle.png);
  background-position: -1100px 0;
}

#features .title {
  text-align: center;
  padding: 2em 10em 1em;
}

#features .subtitle {
  text-align: center;
  padding: 0 10em 1em;
}

#features .left {
  float: left;
  width: calc(50% - 1em);
}

#features .right {
  float: right;
  width: 50%;
}

#features .right .section-text {
  float: right;
  padding: 5em 10em 0 6em;
}


#features .left nav {
  text-align: center;
  padding: 3em 0;
}
#features .left nav a {
  cursor: pointer;
  color: #30304D;
  opacity: 0.3;
  margin: 5em 2em 2em;
  padding: 1em 0;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}
#features .left nav a.active {
  opacity: 1;
  border-bottom: 2px solid #6D0096;
}
#features .left img {
  width: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
#features .right p {
  margin-top: 40px;
}

@media screen and (max-width: 1000px) {
  #features .left {
    width: 100%;
  }
  #features .left nav {
    padding-bottom: 1em;
  }
  #features .left nav a {
    margin: 0 1em;
  }

  #features .right {
    width: 100%;
    padding: 0 1em 0 2em;
  }
  #features .right h1 {
    margin-top: 1em;
  }
}
