#features {
  padding-left: 0;
  padding-right: 0;
  background-image:url(img/circle.png);
  background-position: center 0;
}

#features .title {
  text-align: center;
  padding: 2em 1em 1em;
}

#features .subtitle {
  text-align: center;
  padding: 0 2em;
}

#features .subtitle p {
  display: inline-block;
  max-width: 900px;
}

#features .left {
  float: left;
  width: calc(50% - 1em);
}

#features .right {
  float: right;
  width: 50%;
}

#features .right .section-text {
  float: right;
  padding: 5em 10em 0 6em;
}


#features .left nav {
  text-align: center;
}
#features .left nav a {
  cursor: pointer;
  color: #30304D;
  opacity: 0.3;
  display: inline-block;
  margin: 5em 2em 2em;
  padding: 1em 0;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}
#features .left nav a.active {
  opacity: 1;
  border-bottom: 2px solid #6D0096;
}
#features .left img {
  width: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
#features .right p {
  margin-top: 70px;
}

@media screen and (min-width: 1001px) and (max-width:1400px) {
  #features .left nav a {
    margin: 1em;
  }
  #features .right p {
    margin-top: 0;
  }
}

@media screen and (min-width: 1000px) {
  #features .left {
    transform: translateX(-30px);
    opacity: 0;
    transition: all .3s ease-out;
  }
  #features.shown .left {
    transform: translateX(0);
    opacity: 1;
  }
}

@media screen and (max-width: 1000px) {
  #features .left {
    width: 100%;
  }
  #features .left nav {
    padding: 0;
  }
  #features .left nav a {
    margin: 5px 1em;
    width: 100%;
  }

  #features .right {
    width: 100%;
    padding: 0 1em 0 2em;
  }
  #features .right h1 {
    margin-top: 1em;
  }
  #features .right .section-text {
    padding: 1em;
  }
}
