@font-face {
  font-family: avenir;
  src: url("font/AvenirNextRoundedRegular.otf");
  font-weight: 400;
}
@font-face {
  font-family: avenir;
  src: url("font/AvenirNextRoundedBold.otf");
  font-weight: 700;
}
@font-face {
  font-family: avenir;
  src: url("font/AvenirNextRoundedDemiBold.otf");
  font-weight: 600;
}
@font-face {
  font-family: avenir;
  src: url("font/AvenirNextRoundedMedium.otf");
  font-weight: 500;
}

@font-face {
  font-family: comfortaa;
  src: url("font/ComfortaaBold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: comfortaa;
  src: url("font/ComfortaaRegular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: comfortaa;
  src: url("font/ComfortaaLight.ttf");
  font-weight: 300;
}
