#footer {
  background: #223361;
  color: white;
  padding-top: 5em;
  padding-bottom: 5em;
}

#footer .colored {
  color: #969DB7;
}

#footer table {
  width: 100%;
}

#footer th {
  line-height: 72px;
}

#footer .brand {
  font-size: 24px;
}

#footer th img {
  vertical-align: -12px;
  margin-right: 1em;
  height: 42px;
  width: 39px;
}

#footer td, #footer th {
  padding: 0 2em;
  text-align: left;
}

#footer td {
  padding: 1em 2em;
}

#footer a {
  display: block;
  color: #969DB7;
  cursor: pointer;
  margin: 1.5em 0;
}

@media screen and (max-width: 1000px) {
  #footer {
    padding: 1em;
  }

  #footer th, #footer td {
    padding: .5em;
  }

  #footer tr td:nth-child(2), #footer tr th:nth-child(2) {
    display: none;
  }
}
