#hero {
  height: 100vh;
  background-color: #223265;
  background-image: url(img/logo_bg.png);
  background-position: center center;
  background-size: cover;
  position: relative;
  color: white;
}

/* header */
#hero header {
  height: 100px;
  line-height: 100px;
  text-align: center;
}

#hero header .header-content {
  text-align: left;
  display: inline-block;
  width: 100%;
  max-width: 2000px;
}

#hero header.soonfixed {
  box-shadow: 0 0 5px rgba(0,0,0,0.4);
  position: fixed;
  top: -70px;
  transition: top .1s ease-out;
  left: 0;
  background: #1c2a4e;
  z-index: 9999;
  line-height: 70px;
  height: 70px;
  width: 100%;
}

#hero header.soonfixed .brand {
  background-position: 42px 14px;
}

#hero header.soonfixed.fixed {
  top: 0;
}

#hero .brand {
  float: left;
  padding: 0 2em 0 100px;
  font-size: 24px;
  font-weight: bold;
  background-image: url('img/logo.svg');
  background-size: 42px 39px;
  background-repeat: no-repeat;
  background-position: 46px 29px;
  cursor: pointer;
}

#hero nav {
  float: right;
  padding: 0 4em;
}

#hero nav a {
  font-size: 15px;
  padding: 0.75em 1.5em;
  margin: 0.3em 1.5em;
  font-weight: 500;
  cursor: pointer;
  color:inherit;
  text-decoration: none;
}

#hero nav a:not(.btn-color):hover {
  border-bottom: 2px solid #fff;
}

/* big text area */
#hero .bigtext {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 47%;
  width: 700px;
  margin-left: -600px;
}

#hero .bigtext .title {
  font-size: 52px;
  font-family: comfortaa;
  font-weight: 400;
  line-height: 70px;
}

#hero .bigtext .subtitle {
  font-size: 22px;
  color: #eaeaea;
  padding: 60px 0;
  line-height: 29px;
}

#hero .bigtext .subscribe-mailbox {
  font-size: 2em;
}

#hero .telegramlink {
  color: inherit;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}
#hero .telegram {
  display: inline-block;
  height: 25px;
  width: 25px;
  vertical-align: bottom;
}

#hero .cta-button {
  margin: 1em 1em 0 2.5em;
  display: inline-block;
  font-size: 14px;
}

/* scroll indicator */
#hero #scroll-indicator {
  position: absolute;
  bottom: 30px;
  left: 50%;
  height: 40px;
  width: 30px;
  margin-left: -15px;
  background: url('img/scroll-indicator.svg');
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transition: opacity .5s;
}

/* animation elements */
@keyframes bounce {
  from { margin-top: 10px; }
  50%  { margin-top: 0em; }
  to   { margin-top: 10px; }
}
#hero .cryptoball {
  background: #1b294e;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  position: absolute;
  transition: opacity 1s, transform .15s;
  animation: bounce 3s ease-in-out infinite;
  opacity: 0;
  background-size: 50%;
  background-position: center center;
  background-repeat: no-repeat;
}

#hero-phone {
  background: url('img/phone.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 325px;
  height: 650px;
  position: absolute;
  bottom: -100%;
  left: 50%;
  margin-left: 250px;
}
#hero-phone-content {
  background: url(img/phone-content.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
  width: 279px;
  height: 602px;
  position: absolute;
  bottom: 26px;
  left: 23px;
  opacity: 0;
  transition: opacity .5s;
}

@media screen and (min-width: 1000px) and (max-width: 1360px) {
  #hero .bigtext {
    margin-left: -500px;
    zoom: 0.9;
  }
  #hero #hero-phone {
    margin-left: 175px;
    zoom: 0.9;
  }
  #hero nav {
    padding: 0 1em 0 0;
  }
  #hero header a {
    font-size: 13px;
    margin: 0.3em 0.8em;
  }
  #hero .brand {
    margin-left: -30px;
  }
}

@media screen and (max-width: 1000px) {
  #hero {
    height: auto;
  }

  #hero .bigtext .title {
    font-size: 24px;
    line-height: 30px;
  }

  #hero #hero-phone {
    display: none;
  }

  #hero .bigtext .subtitle {
    font-size: 20px;
    padding: 25px 0;
    line-height: 25px;
  }

  #hero header {
    height: auto;
    text-align: center;
  }

  #hero .brand {
    float: none;
    width: 270px;
    display: inline-block;
  }

  #hero nav {
    float: none;
    padding: 0;
    display: block;
    line-height: 50px;
  }

  #hero nav a {
    font-size: 1em;
    padding: 0.5em;
    white-space: nowrap;
  }


  #hero .bigtext {
    position: initial;
    width: 100%;
    margin-left: 0;
    transform: none;
    padding: 2em;
  }
}
