.people-section {
  text-align: center;
}

.people-section {
  box-shadow: 0 0 100px #f9faff, 0 0 100px #f9faff, 0 0 100px #f9faff, 0 0 100px #f9faff, 0 0 100px #f9faff, 0 0 100px #f9faff, 0 0 100px #f9faff, 0 0 100px #f9faff, 0 0 100px #f9faff, 0 0 100px #f9faff, 0 0 100px #f9faff, 0 0 100px #f9faff, 0 0 100px #f9faff, 0 0 100px #f9faff, 0 0 100px #f9faff;
  background-image:url(img/circle.png);
  background-position: center 0;
}

.people-section h1 {
  padding: 2em 0;
}

.people-section .item {
  display: inline-block;
  vertical-align: top;
  margin: 1em;
  width: 300px;
}

.people-section > .section-text {
  padding: 0 10em 3em;
}

.people-section .item .image {
  height: 110px;
  width: 110px;
  display: inline-block;
  border-radius: 55px;
  background-color: #9F9F9F;
  background-size: 100% 100%;
}

.people-section .item .name {
  text-transform: uppercase;
  color: #373737;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  padding: 20px 0 10px;
}

.people-section .item .job, .people-section .item .description {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  padding:0 .5em 1em;
}

.people-section .item .description {
  color: #818181;
}

.people-section .item a img {
  filter: invert(100%);
  opacity: 0.5;
  display: inline-block;
  height: 1.5em;
  width: 1.5em;
  margin: .5em .5em 2em;
}

#partners {
  background: white!important;
  box-shadow: #fff 3px 3px 50px, #fff 3px 3px 50px, #fff 3px 3px 50px;
}

#partners.people-section .item .image {
  width: 250px;
  height: 150px;
  background-color: transparent;
  border-radius: 0;
}

@media screen and (max-width: 1000px) {
  .people-section .section-title {
    padding: .5em 0;
  }
  .people-section > .section-text {
    padding: 0 0 1em;
  }
  .people-section .item {
    width: 100%;
    margin: 0;
  }
}
