#roadmap {
  padding-right: 0;
  box-shadow: 0 0 100px #f9faff, 0 0 100px #f9faff, 0 0 100px #f9faff, 0 0 100px #f9faff, 0 0 100px #f9faff, 0 0 100px #f9faff, 0 0 100px #f9faff, 0 0 100px #f9faff, 0 0 100px #f9faff, 0 0 100px #f9faff, 0 0 100px #f9faff, 0 0 100px #f9faff, 0 0 100px #f9faff, 0 0 100px #f9faff, 0 0 100px #f9faff;
  background-image:url(img/circle.png);
  background-position: -600px 0;
  padding-top: 7em;
}

#roadmap .lefttext {
  width: calc(50% - 300px);
  float: left;
  padding: 10em 5em 0 0;
}

#roadmap .lefttext h1 {
  padding-bottom: 1em;
}

#roadmap .lefttext .btn {
  border-radius: 60px;
  background-color: #FFFFFF;
  padding: .5em 2em;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
}

#roadmap .lefttext .btn img {
  height: 24px;
  width: 24px;
  vertical-align: -6px;
  margin-right: 6px;
}

#roadmap .timeline {
  width: calc(50% + 300px);
  height: 100%;
  position: relative;
  float: right;
  background: #223361;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#roadmap .timeline .text {
  color: white;
  opacity: .9;
  padding: 1em 3em 3em;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  height: 180px;
}

#roadmap .timeline .blocks {
  overflow-y: hidden;
  white-space: nowrap;
  overflow-x: auto;
  text-align: left;
  padding: 0 15px 1em 15px;
}

#roadmap .timeline .year {
  display: inline-block;
  transform: rotate(-90deg);
  padding: 130px 10px;
  font-size: 26px;
  color: white;
}

#roadmap .timeline .block {
	border-radius: 8px;
	background-color: #FFFFFF;
	box-shadow: 0 24px 40px 0 rgba(0,0,0,0.15);
  padding: 2em;
  color: #8794C6;
  margin: 0 15px;
  white-space: normal;
  display: inline-block;
  width: 285px;
  height: auto;
  vertical-align: top;
}

#roadmap .timeline .block h3 {
	color: #4F2D72;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 1.5em;
  line-height: 20px;
}

#roadmap .timeline .block p {
	text-align: left;
  line-height: 20px;
}

#roadmap .timeline .block .icon {
  height: 46px;
  width: 46px;
  background: linear-gradient(134.72deg, #EF14C5 0%, #FFC160 100%);
  border-radius: 6px;
  float: left;
  margin-right: 1em;
}

#roadmap .timeline .nav {
  height: 110px;
  width: 100%;
  bottom: 0;
  left: 0;
  text-align: center;
}

#roadmap .timeline .nav .wrapper {
  display: inline-block;
  position: relative;
  background: url('img/timeline.png');
  background-repeat: no-repeat;
  background-position: center center;
}

#roadmap .timeline .nav .wrapper .item {
  display: inline-block;
  padding: 1em 2em;
  color: #D8D8D8;
  font-family: comfortaa;
  cursor: pointer;
  user-select: none;
  vertical-align: 2px;
}
#roadmap .timeline .nav .wrapper .item .icon-active {
	height: 20px;
	width: 20px;
	background: linear-gradient(270deg, #20D2DC 0%, #70AFF9 100%);
  border-radius: 10px;
  margin: 10px;
}
#roadmap .timeline .nav .wrapper .item .icon-rocket {
  height: 40px !important;
  width: 40px !important;
  border-radius: 20px !important;
  margin: 0 !important;
}
#roadmap .timeline .nav .wrapper .item .icon-rocket img {
  height: 40px;
  width: 40px;
}
#roadmap .timeline .nav .wrapper .item .icon-inactive {
	height: 20px;
	width: 20px;
  border-radius: 10px;
  margin: 10px;
	background-color: #D8D8D8;
}
#roadmap .timeline .nav .wrapper .item .item-text {
  font-size: 14px;
  width: 40px;
  margin-left: -5px;
  white-space: nowrap;
  padding-top: 15px;
  color: #D8D8D8;
}
#roadmap .timeline .nav .wrapper .item.active .item-text {
  color: #fff;
}

@media screen and (min-width: 1000px) {
  #roadmap {
    overflow-x: hidden;
  }

  #roadmap .timeline {
    transform: translateX(30px);
    opacity: 0;
    transition: all .3s ease-out;
  }
  #roadmap.shown .timeline {
    transform: translateX(0);
    opacity: 1;
  }
}

@media screen and (max-width: 1000px) {
  #roadmap {
    padding: 0;
  }

  #roadmap .lefttext {
    width: 100%;
    padding: 2em;
  }

  #roadmap .timeline {
    width: 100%;
    border-radius: 0;
    padding-top: 110px;
    padding-bottom: 0;
  }

  #roadmap .timeline .year {
    transform: rotate(0deg);
    padding: 2em;
  }

  #roadmap .timeline .text {
    padding: 1em 2em;
    height: auto;
  }

  #roadmap .timeline .blocks {
    white-space: normal;
    padding: 0;
    text-align: center;
  }

  #roadmap .timeline .block {
    margin: 0 0 1em;
  }

  #roadmap .timeline .nav {
    bottom: default;
    top: 0;
  }

  #roadmap .timeline .nav .wrapper .item {
    padding: 1em;
  }
}
