#subscribe-bottom {
  padding-top: 15em;
  text-align: center;
}

#subscribe-bottom .content {
  display: inline-block;
  text-align: left;
}

#subscribe-bottom .text {
  float: left;
  padding-top: 150px;
  width: 500px
}

#subscribe-bottom p {
  padding: 2em 0;
}

#subscribe-bottom img {
  float: left;
  margin-left: 3em;
  height: 600px;
}

@media screen and (max-width: 1000px) {
  #subscribe-bottom {
    padding-top: 5em;
  }

  #subscribe-bottom .text {
    padding: 2em 0;
    width: 100%;
  }

  #subscribe-bottom img {
    display: none;
  }
}
