#team {
  padding-right: 0;
}

#team #portraits {
  float: left;
  height: 100%;
  width: calc(50% - 300px);
  padding: 2em 3em 2em 0;
}

#team #portraits p {
  padding: 2em 0;
}

#team #portraits .portrait {
  padding: .5em 0 .5em 1.5em;
  cursor: pointer;
}

#team #portraits .portraits-wrapper {
  padding: 1em 0;
	border-radius: 10px;
	background-color: #FFFFFF;
	box-shadow: 0 3px 14px 0 rgba(0,0,0,0.1);
}

#team #portraits .portrait .image {
  float: left;
  background-color: #9F9F9F;
  width: 48px;
  height: 48px;
  border-radius: 26px;
  background-size: 100% 127.6%;
}
#team #portraits .portrait .links {
  display: none;
}

#team #portraits .portrait .text {
  text-transform: uppercase;
  float: left;
  line-height: 22px;
  margin-top: 4px;
  font-size: 18px;
  padding-left: 1em;
  border-right: 4px solid transparent;
  color: #9F9F9F;
  width: calc(100% - 52px);
}

#team #portraits .portrait.active {
  border-right: 4px solid #394A8A;
}
#team #portraits .portrait.active .text {
  color: #394A8A;
}

#team #portraits .portrait .text .name {
  font-weight: 500;
  font-size: 14px;
}

#team #portraits .portrait .text .job {
  font-size: 12px;
}

#team #portraits .portrait p {
  display: none;
}

#team #bigface {
  float: left;
  width: 600px;
  height: 700px;
  background: rgba(0,0,0,0.2);
  border-radius: 15px;
  background-size: cover;
  background-position: top center;
}

#team #bigface-text {
  float: left;
  width: calc(50% - 300px);
  height: 660px;
  margin-top: 20px;
  background: #223361;
  color: white;
  padding: 7em 5em 2em 3em;
}

#team #bigface-text .name {
  text-transform: uppercase;
  font-size: 20px;
}

#team #bigface-text .job {
  text-transform: uppercase;
  font-size: 20px;
  opacity: .7;
}

#team #bigface-text p {
  padding: 2em 0;
  line-height: 20px;
  font-size: 14px;
}

#team #bigface-text .links {
  margin-left: -10px;
  margin-top: 30px;
}
#team #bigface-text .links a {
  display: inline-block;
  margin: 0 10px;
}
#team #bigface-text .links a img {
  height: 20px;
  width: 20px;
}

@media screen and (max-width: 1000px) {
  #team {
    padding: 2em;
  }

  #team #portraits {
    width: 100%;
    padding: 0;
    margin-bottom: 1em;
  }

  #team #bigface {
    width: 300px;
    height: 350px;
    max-width: 100%;
  }

  #team #bigface-text {
    width: 100%;
    padding: 2em;
    height: auto;
    border-radius: 15px;
  }
}
