#tokensale {
  position: relative;
  overflow: hidden;
  min-height: 80vh;
  text-align: center;
}

#tokensale .token, .piechart {
  display: inline-block;
  height: 216px;
  width: 216px;
  position: absolute;
  margin-left: -108px;
  text-align: center;
  transition: opacity .1s;
}

#tokensale .token {
  left: 110%;
  top: 0;
  opacity: 1;
  background-image: url('img/token.svg');
  background-size: 100% 100%;
}

#tokensale .piechart {
  left: 50%;
  top: 0;
  opacity: 0;
  background-image: url('img/piechart.png');
  background-size: 100% 100%;
}

#tokensale .text-token, #tokensale .text-sale {
  float: left;
  width: 100%;
  padding-top: 240px;
  opacity: 0;
  transition: opacity .1s;
}

#tokensale .text .title {
  padding: 30px 0;
}

#tokensale .section-text {
  max-width: 600px;
  margin-top: 30px;
  display: inline-block;
}


@media screen and (max-width: 1000px) {
  #tokensale {
    padding: 0;
    text-align: center;
  }

  #tokensale .piechart, #tokensale .token {
    opacity: 1;
    margin: 2em;
    height: 200px;
    width: 200px;
    display: inline-block;
    position: initial;
  }

  #tokensale .text-token, #tokensale .text-sale {
    opacity: 1;
    position: initial;
    width: 100%;
    float: none;
    padding: 0 2em;
  }
}
